{% extends "base.html" %}

{% block title %}
    DashBoard
{% endblock %}

{% block content %}

{% endblock %}


{% block scripts %}
    <div class="container">

        <div class="row mt-5">
            <div class="col-5 ml-2">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-primary">Total Books: {{ total_books }}
                        </h2>
                        {% for error in errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ error }}
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-primary">Recent Books: {{ recent_book_count }}</h2>
                        <ol>
                            {% for book in recent_books %}
                        	<li>{{ book.title }}</li>
                            {% endfor %}
                        </ol>

                        {% for error in errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ error }}
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}